{% extends 'main.html' %}
{% load static %}
{% block content %}
	<div class="vh-100 d-flex align-items-center justify-content-center content-section " style="display:flex; flex-direction: column;">
		<div class="col-lg-9">
			<img class="thumbnail" src="{% static 'images/elec2.jpeg' %}">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>
				<h2 class="text-center">Smart Fridge</h2>
                <h3>Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic alias incidunt blanditiis quibusdam voluptatem aut dolores natus tempora pariatur sapiente rerum ipsum eos delectus eveniet, molestiae aperiam architecto! Illo ratione neque vero, nemo debitis possimus laborum odio ad tempore. Debitis consectetur laborum ab maiores reprehenderit voluptas, fugit facere non ipsum doloremque laboriosam maxime aut mollitia quasi distinctio autem, molestiae in et, aliquid voluptatibus? Laboriosam qui expedita omnis atque totam minima illum dolorem aliquid, animi dolore earum aliquam suscipit est nihil esse consequatur doloribus excepturi repellendus nam sunt, accusantium molestiae magnam possimus sit? Quod nobis mollitia quae, facere laudantium quo. Nam.</p>
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<!-- <a class="btn btn-outline-success" href="#">View</a> -->
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
    </div>
    <div class="vh-100 d-flex align-items-center justify-content-center content-section " style="display:flex; flex-direction: column;">
		<div class="col-lg-9">
			<img class="thumbnail" src="{% static 'images/heroku.png' %}">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>
				<h2 class="text-center">HeadPhones</h2>
                <h3 >Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis maxime at a praesentium ad alias hic repellendus? Vitae velit eligendi odit? Nisi, recusandae aliquam perferendis quasi sapiente quis dolorem ut porro aspernatur, quidem incidunt nulla earum, voluptatum eligendi consequatur debitis. Cupiditate aperiam doloremque temporibus necessitatibus tenetur vero omnis hic, repudiandae minus amet laboriosam nostrum reiciendis natus ipsum provident dolorum labore magnam eum voluptas ut rem facere soluta. Officia eveniet nobis officiis autem molestiae. Eum corrupti beatae, fugiat dignissimos eaque odio iure excepturi dicta unde explicabo minus nulla tempora pariatur mollitia placeat velit reprehenderit inventore delectus sunt voluptate blanditiis in.</p>
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<!-- <a class="btn btn-outline-success" href="#">View</a> -->
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
    </div>
{%endblock%}