{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row col-sm-12 vh-100 d-flex align-items-center justify-content-center content-section " style="display:flex; flex-direction: column;" >

		<div class="col-lg-8 col-sm-8 col-md-8" style="height:600px">
			<img class="thumbnail" src="{{product.imageURL}}" height="600px">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
	            <h2 class="text-center">Description</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illum velit eveniet recusandae, explicabo assumenda qui! Rerum, esse voluptatibus. Perferendis corrupti eaque numquam odit aspernatur qui dolorum veritatis deserunt vel.</p>
				<button  data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
	
			</div>
		</div>
	</div>
</div>
{%endblock%}